<h1>Listing post_entries</h1>

<table>
  <tr>
    <th>Post ID</th>
    <th>Author</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post_entries.each do |post_entry| %>
  <tr>
    <td><%= post_entry.post_id %></td>
    <td><%= post_entry.author.name %></td>
    <td><%= post_entry.content %></td>
    <td><%= link_to 'Show', post_entry %></td>
    <td><%= link_to 'Edit', edit_post_entry_path(post_entry) %></td>
    <td><%= link_to 'Destroy', post_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post entry', new_post_entry_path %>
